<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <property name="LOG_PATH" value="logs/app"/>
    <property name="LOG_FILE" value="${LOG_PATH}/application.log"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <pattern>
                    <pattern>
                        {
                        "level":"%level",
                        "logger":"%logger{36}",
                        "thread":"%thread",
                        "message":"%replace(%msg){'\n',' '}"
                        }
                    </pattern>
                </pattern>
                <mdc>
                    <includeMdcKeyName>experimentId</includeMdcKeyName>
                    <includeMdcKeyName>experimentTemplateId</includeMdcKeyName>
                    <includeMdcKeyName>groupId</includeMdcKeyName>
                    <includeMdcKeyName>operationId</includeMdcKeyName>
                    <includeMdcKeyName>taskId</includeMdcKeyName>
                    <includeMdcKeyName>requestId</includeMdcKeyName>
                </mdc>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <mdc>
                    <includeMdcKeyName>experimentId</includeMdcKeyName>
                    <includeMdcKeyName>experimentTemplateId</includeMdcKeyName>
                    <includeMdcKeyName>groupId</includeMdcKeyName>
                    <includeMdcKeyName>operationId</includeMdcKeyName>
                    <includeMdcKeyName>taskId</includeMdcKeyName>
                    <includeMdcKeyName>requestId</includeMdcKeyName>
                </mdc>
                <pattern>
                    <pattern>
                        {
                        "level":"%level",
                        "logger":"%logger{36}",
                        "thread":"%thread",
                        "message":"%replace(%msg){'\n',' '}"
                        }
                    </pattern>
                </pattern>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.example.scheduler" level="DEBUG"/>
</configuration>
